#maps {
  display: grid;
  grid-template-columns: repeat(5, 20%);

  color: #9EA5BD !important;
  background-color: #0C0D0F;
  font-size: 13px;
  cursor: pointer;
  
  padding-bottom: 13px;
  padding-top: 0;
  margin-top: 2px;
  border: none;
}

#maps:hover {
  color: #a6afff !important;
  border-bottom: 2px solid #a6afff;
}